.DS_Store
node_modules
media_ressources
/dist

# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Test coverage
/coverage
/.nyc_output
/test-results
*.lcov
.coveralls.yml

# Jest
/jest-cache
jest.config.js.snap
__snapshots__/
*.snap
